.listitem {
  list-style: none;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px 12px 0 0;
}
.itemcontent {
  padding: 1rem;
}
.itembottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  flex-basis: 10%;
}

.text {
  margin-bottom: 0.5rem;
}
.card {
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.106);
  margin-bottom: 2rem;
  overflow: hidden;
  max-width: 31%;
}
